{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn", "tw"],
  "singleQuote": true,
  "jsxSingleQuote": true
}
